body 
{
    margin: 0;
    text-align: center;
    color: teal;
    background: #DE4C36;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p
{
    font-size: 20px;
}

header
{
    font-size: 3.5em;
    font-weight: bold;
    background: whitesmoke;
    color: #DE4C36;
    padding: .25em;
    padding-bottom: .5em;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: -0.5em;
    box-shadow: 1px 1px 1px #DDD;
}

header #logo
{
    max-width: 50px;
    vertical-align: middle;
}


div.post
{
    background: whitesmoke;
    padding: 1em;
    width: 80vw;
    margin: 1em auto;
    box-shadow: 1px 1px 2px #555;
}

div.miniatura
{
    width: 100px;
    height: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, .05);
    border: 2px dotted #555;
    vertical-align: middle;
    margin-right: 15px;
}

div.miniatura p
{
    margin-top: calc(50% - 12px);
}

div.post h1
{
    display: inline-block;
    vertical-align: middle;
}

header
{
    font-size: 3.5em;
    font-weight: bold;
    background: whitesmoke;
    padding: .25em;
    padding-bottom: .5em;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: -0.5em;
    box-shadow: 1px 1px 1px #DDD;
}

#footer
{
    margin-top: 50px;
    padding: 10px;
    background: whitesmoke;
    color: #DE4C36;
    font-weight: bold;
}

#footer p
{
    font-size: 30px;
}